.DS_Store
*.swp
index.data
*~
.precomp
precompiled
assets/assetpack.db
assets/cache
.sass-cache/
html/links.txt
xt/aspell.pws
highlights/node_modules
**/npm-debug.log
highlights/atom-language-perl6/
highlights/package-lock.json
zig-cache

# IDE specific
.scala_dependencies
.classpath
*.iml
.idea/
.idea_modules/
.project
.settings/
atlassian-ide-plugin.xml
.vscode

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template #  before PyInstaller builds the exe, so as to inject date/other infos into it.  *.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
# .env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

*.sqlite3

# 过滤爬虫爬取的文件
*.jpg
*.png
*.mp4
*.cmt.xml
*.toc
*.spec
*.txt
*.ts